Birliktelik analizini kullanarak lokasyon ve segmentler için birliktelik kuralları üretip bu kurallara göre öneriler yapma

- Germany (2010-2011)
- cltv_p segmenleri için.

Kritik nokta kuralların tüm veriden ve her segmentin kendi içinden öğrenilmesi gerekli.  
Fakat önerilerin ise ülke özelinde ve yine segment özelinde olması beklenmektedir.

In [1]:
import datetime as dt
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from sklearn.preprocessing import MinMaxScaler
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
from mlxtend.frequent_patterns import apriori, association_rules
from helpers import *

In [2]:
pd.set_option('display.max_columns', None)
df_ = pd.read_excel("online_retail_II.xlsx",
                    sheet_name="Year 2010-2011")
df = df_.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  datetime64[ns]
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
# Verinin db'den alınması.

# credentials.
creds = {'user': 'oz',
         'passwd': 'sorryicantsharewithu',
         'host': 'db.github.rocks',
         'port': 3306,
         'db': 'dsmlbc'}

In [ ]:
# credentials.
creds = {'user': 'synan',
         'passwd': 'haydegidelum',
         'host': 'db.github.rocks',
         'port': 3306,
         'db': 'dsmlbc'}

In [ ]:
# MySQL conection string.
connstr = 'mysql+mysqlconnector://{user}:{passwd}@{host}:{port}/{db}'
# sqlalchemy engine for MySQL connection.
conn = create_engine(connstr.format(**creds))

In [ ]:
query = "show databases"
pd.read_sql_query(query, conn)

In [ ]:
query = "select * from online_retail_2010_2011 limit 5"
pd.read_sql_query(query, conn)

In [ ]:
query = "select * from online_retail_2010_2011"
df = pd.read_sql_query(query, conn)

In [4]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
# Data Preprocessing
df_prep = crm_data_prep(df)
check_df(df_prep)

##################### Shape #####################
(397925, 9)
##################### Types #####################
Invoice                object
StockCode              object
Description            object
Quantity              float64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
TotalPrice            float64
dtype: object
##################### Head #####################
  Invoice StockCode                         Description  Quantity  \
0  536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER       6.0
1  536365     71053                 WHITE METAL LANTERN       6.0
2  536365    84406B      CREAM CUPID HEARTS COAT HANGER       8.0

          InvoiceDate  Price  Customer ID         Country  TotalPrice
0 2010-12-01 08:26:00   2.55      17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00   3.39      17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00   2.75      17850.0  United Kingdom       22.00
##################### Tail #####################
       Invoice StockCode                      Description  Quantity  \
541907  581587     23255  CHILDRENS CUTLERY CIRCUS PARADE       4.0
541908  581587     22138    BAKING SET 9 PIECE RETROSPOT        3.0
541909  581587      POST                          POSTAGE       1.0

               InvoiceDate  Price  Customer ID Country  TotalPrice
541907 2011-12-09 12:50:00   4.15      12680.0  France       16.60
541908 2011-12-09 12:50:00   4.95      12680.0  France       14.85
541909 2011-12-09 12:50:00  18.00      12680.0  France       18.00
##################### NA #####################
Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
TotalPrice     0
dtype: int64
##################### Quantiles #####################
                0.00      0.05      0.50     0.95      0.99       1.00
Quantity         1.0      1.00      6.00     36.0    120.00    298.500
Price            0.0      0.42      1.95      8.5     14.95     37.060
Customer ID  12346.0  12627.00  15159.00  17912.0  18211.00  18287.000
TotalPrice       0.0      1.25     11.80     67.5    183.60   3268.575

### create_cltv_p Fonksiyonu ile Predictive CLTV Segmentlerini Oluşturma

In [6]:
def create_cltv_p(dataframe):
    today_date = dt.datetime(2011, 12, 11)

    ## recency kullanıcıya özel dinamik.
    rfm = dataframe.groupby('Customer ID').agg({'InvoiceDate': [lambda date: (date.max()-date.min()).days,
                                                                lambda date: (today_date - date.min()).days],
                                                'Invoice': lambda num: num.nunique(),
                                                'TotalPrice': lambda TotalPrice: TotalPrice.sum()})

    rfm.columns = rfm.columns.droplevel(0)

    ## recency_cltv_p
    rfm.columns = ['recency_cltv_p', 'T', 'frequency', 'monetary']

    ## basitleştirilmiş monetary_avg
    rfm["monetary"] = rfm["monetary"] / rfm["frequency"]

    rfm.rename(columns={"monetary": "monetary_avg"}, inplace=True)


    # BGNBD için WEEKLY RECENCY VE WEEKLY T'nin HESAPLANMASI
    ## recency_weekly_cltv_p
    rfm["recency_weekly_cltv_p"] = rfm["recency_cltv_p"] / 7
    rfm["T_weekly"] = rfm["T"] / 7



    # KONTROL
    rfm = rfm[rfm["monetary_avg"] > 0]

    ## recency filtre (daha saglıklı cltvp hesabı için)
    rfm = rfm[(rfm['frequency'] > 1)]

    rfm["frequency"] = rfm["frequency"].astype(int)

    # BGNBD
    bgf = BetaGeoFitter(penalizer_coef=0.01)
    bgf.fit(rfm['frequency'],
            rfm['recency_weekly_cltv_p'],
            rfm['T_weekly'])

    # exp_sales_1_month
    rfm["exp_sales_1_month"] = bgf.predict(4,
                                           rfm['frequency'],
                                           rfm['recency_weekly_cltv_p'],
                                           rfm['T_weekly'])
    # exp_sales_3_month
    rfm["exp_sales_3_month"] = bgf.predict(12,
                                           rfm['frequency'],
                                           rfm['recency_weekly_cltv_p'],
                                           rfm['T_weekly'])

    # expected_average_profit
    ggf = GammaGammaFitter(penalizer_coef=0.01)
    ggf.fit(rfm['frequency'], rfm['monetary_avg'])
    rfm["expected_average_profit"] = ggf.conditional_expected_average_profit(rfm['frequency'],
                                                                             rfm['monetary_avg'])
    # 6 aylık cltv_p
    cltv = ggf.customer_lifetime_value(bgf,
                                       rfm['frequency'],
                                       rfm['recency_weekly_cltv_p'],
                                       rfm['T_weekly'],
                                       rfm['monetary_avg'],
                                       time=6,
                                       freq="W",
                                       discount_rate=0.01)

    rfm["cltv_p"] = cltv

    # minmaxscaler
    scaler = MinMaxScaler(feature_range=(1, 100))
    scaler.fit(rfm[["cltv_p"]])
    rfm["cltv_p"] = scaler.transform(rfm[["cltv_p"]])

    # rfm.fillna(0, inplace=True)

    # cltv_p_segment
    rfm["cltv_p_segment"] = pd.qcut(rfm["cltv_p"], 3, labels=["C", "B", "A"])

    ## recency_cltv_p, recency_weekly_cltv_p
    rfm = rfm[["recency_cltv_p", "T", "monetary_avg", "recency_weekly_cltv_p", "T_weekly",
               "exp_sales_1_month", "exp_sales_3_month", "expected_average_profit",
               "cltv_p", "cltv_p_segment"]]


    return rfm

In [7]:
cltv_p = create_cltv_p(df_prep)

In [8]:
check_df(cltv_p)

##################### Shape #####################
(2845, 10)
##################### Types #####################
recency_cltv_p                int64
T                             int64
monetary_avg                float64
recency_weekly_cltv_p       float64
T_weekly                    float64
exp_sales_1_month           float64
exp_sales_3_month           float64
expected_average_profit     float64
cltv_p                      float64
cltv_p_segment             category
dtype: object
##################### Head #####################
             recency_cltv_p    T  monetary_avg  recency_weekly_cltv_p  \
Customer ID
12347.0                 365  368    615.714286              52.142857
12348.0                 282  359    442.695000              40.285714
12352.0                 260  297    219.542500              37.142857

              T_weekly  exp_sales_1_month  exp_sales_3_month  \
Customer ID
12347.0      52.571429           0.561684           1.678069
12348.0      51.285714           0.364322           1.087951
12352.0      42.428571           0.739160           2.206857

             expected_average_profit    cltv_p cltv_p_segment
Customer ID
12347.0                   631.911974  2.933517              A
12348.0                   463.745539  1.919391              B
12352.0                   224.886669  1.904146              B
##################### Tail #####################
             recency_cltv_p    T  monetary_avg  recency_weekly_cltv_p  \
Customer ID
18282.0                 118  127     89.025000              16.857143
18283.0                 333  338    130.930000              47.571429
18287.0                 158  202    612.426667              22.571429

              T_weekly  exp_sales_1_month  exp_sales_3_month  \
Customer ID
18282.0      18.142857           0.530590           1.575547
18283.0      48.285714           1.226968           3.665906
18287.0      28.857143           0.478113           1.423970

             expected_average_profit    cltv_p cltv_p_segment
Customer ID
18282.0                    99.524747  1.283796              C
18283.0                   132.601200  1.886451              B
18287.0                   651.345353  2.684413              A
##################### NA #####################
recency_cltv_p             0
T                          0
monetary_avg               0
recency_weekly_cltv_p      0
T_weekly                   0
exp_sales_1_month          0
exp_sales_3_month          0
expected_average_profit    0
cltv_p                     0
cltv_p_segment             0
dtype: int64
##################### Quantiles #####################
                                 0.00        0.05        0.50        0.95  \
recency_cltv_p           0.000000e+00   16.000000  207.000000  361.800000
T                        3.000000e+00   55.000000  283.000000  373.000000
monetary_avg             3.450000e+00  101.978667  300.487308  867.951667
recency_weekly_cltv_p    0.000000e+00    2.285714   29.571429   51.685714
T_weekly                 4.285714e-01    7.857143   40.428571   53.285714
exp_sales_1_month        4.945689e-27    0.128856    0.510695    1.435971
exp_sales_3_month        1.478339e-26    0.383725    1.523013    4.274179
expected_average_profit  5.819483e+00  109.425403  316.538801  917.205040
cltv_p                   1.000000e+00    1.115096    1.881909    4.897332

                                0.99         1.00
recency_cltv_p            369.000000   373.000000
T                         374.000000   374.000000
monetary_avg             1732.183600  5724.302619
recency_weekly_cltv_p      52.714286    53.285714
T_weekly                   53.428571    53.428571
exp_sales_1_month           2.566856    13.469161
exp_sales_3_month           7.672579    40.266173
expected_average_profit  1839.299523  5772.177190
cltv_p                     12.469683   100.000000

In [9]:
cltv_p.head()

,recency_cltv_p,T,monetary_avg,recency_weekly_cltv_p,T_weekly,exp_sales_1_month,exp_sales_3_month,expected_average_profit,cltv_p,cltv_p_segment
Customer ID,,,,,,,,,,
12347.0,365,368,615.714286,52.142857,52.571429,0.561684,1.678069,631.911974,2.933517,A
12348.0,282,359,442.695000,40.285714,51.285714,0.364322,1.087951,463.745539,1.919391,B
12352.0,260,297,219.542500,37.142857,42.428571,0.739160,2.206857,224.886669,1.904146,B
12356.0,302,326,937.143333,43.142857,46.571429,0.333040,0.993934,995.997679,2.802492,A
12358.0,149,151,575.210000,21.285714,21.571429,0.474048,1.408955,631.900951,2.612984,A

In [10]:
cltv_p.groupby("cltv_p_segment").agg({"count", "mean"})

               recency_cltv_p                 T       monetary_avg        \
                         mean count        mean count         mean count
cltv_p_segment
C                  169.920969   949  280.121180   949   198.315161   949
B                  213.163502   948  257.175105   948   317.029688   948
A                  213.662447   948  239.033755   948   601.261390   948

               recency_weekly_cltv_p         T_weekly       exp_sales_1_month  \
                                mean count       mean count              mean
cltv_p_segment
C                          24.274424   949  40.017311   949          0.323827
B                          30.451929   948  36.739301   948          0.566315
A                          30.523207   948  34.147679   948          1.027486

                     exp_sales_3_month       expected_average_profit        \
               count              mean count                    mean count
cltv_p_segment
C                949          0.964801   949              214.541431   949
B                948          1.686891   948              335.687124   948
A                948          3.061011   948              626.565366   948

                  cltv_p
                    mean count
cltv_p_segment
C               1.318969   949
B               1.899350   948
A               4.311039   948

### İstenilen segmentlere ait kullanıcı id'lerine göre veri setini indirgeme

In [11]:
# id'lerin alınması
a_segment_ids = cltv_p[cltv_p["cltv_p_segment"] == "A"].index
b_segment_ids = cltv_p[cltv_p["cltv_p_segment"] == "B"].index
c_segment_ids = cltv_p[cltv_p["cltv_p_segment"] == "C"].index

In [12]:
# bu id'lere göre df'lerin indirgenmesi
a_segment_df = df_prep[df_prep["Customer ID"].isin(a_segment_ids)]
b_segment_df = df_prep[df_prep["Customer ID"].isin(b_segment_ids)]
c_segment_df = df_prep[df_prep["Customer ID"].isin(c_segment_ids)]
a_segment_df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
9,536368,22960,JAM MAKING SET WITH JARS,6.0,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,25.50
10,536368,22913,RED COAT RACK PARIS FASHION,3.0,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
11,536368,22912,YELLOW COAT RACK PARIS FASHION,3.0,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
12,536368,22914,BLUE COAT RACK PARIS FASHION,3.0,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,14.85
13,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,54.08

### Her bir segment için birliktelik kurallarının üretilmesi

In [13]:
def create_rules(dataframe, country=False, head=5):
    if country:
        dataframe = dataframe[dataframe['Country'] == country]
        dataframe = create_invoice_product_df(dataframe)
        frequent_itemsets = apriori(dataframe, min_support=0.01, use_colnames=True, low_memory=True)
        rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
        print(rules.sort_values("lift", ascending=False).head(head))
    else:
        dataframe = create_invoice_product_df(dataframe)
        frequent_itemsets = apriori(dataframe, min_support=0.01, use_colnames=True, low_memory=True)
        rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
        print(rules.sort_values("lift", ascending=False).head(head))

    return rules

In [14]:
rules_a = create_rules(a_segment_df)
product_a = int(rules_a["consequents"].apply(lambda x: list(x)[0]).astype("unicode")[0])

rules_b = create_rules(b_segment_df)
product_b = int(rules_b["consequents"].apply(lambda x: list(x)[0]).astype("unicode")[0])

rules_c = create_rules(c_segment_df)
product_c = int(rules_c["consequents"].apply(lambda x: list(x)[0]).astype("unicode")[0])

     antecedents consequents  antecedent support  consequent support  \
1026     (22920)     (22916)            0.011129            0.010814
1027     (22916)     (22920)            0.010814            0.011129
1028     (22917)     (22918)            0.011549            0.010814
1029     (22918)     (22917)            0.010814            0.011549
1033     (22917)     (22920)            0.011549            0.011129

       support  confidence       lift  leverage  conviction
1026  0.010184    0.915094  84.624015  0.010063   11.650417
1027  0.010184    0.941748  84.624015  0.010063   16.975626
1028  0.010499    0.909091  84.068844  0.010374   10.881050
1029  0.010499    0.970874  84.068844  0.010374   33.936833
1033  0.010709    0.927273  83.323328  0.010580   13.596982
    antecedents consequents  antecedent support  consequent support   support  \
481     (22917)     (22916)            0.011040            0.010819  0.010378
480     (22916)     (22917)            0.010819            0.011040  0.010378
487     (22919)     (22917)            0.010598            0.011040  0.010157
486     (22917)     (22919)            0.011040            0.010598  0.010157
482     (22916)     (22918)            0.010819            0.010819  0.010157

     confidence       lift  leverage  conviction
481    0.940000  86.882857  0.010258   16.486347
480    0.959184  86.882857  0.010258   24.229521
487    0.958333  86.805833  0.010040   23.735041
486    0.920000  86.805833  0.010040   12.367520
482    0.938776  86.769679  0.010040   16.156620
   antecedents consequents  antecedent support  consequent support   support  \
67     (22748)     (22745)            0.013722            0.013387  0.010375
66     (22745)     (22748)            0.013387            0.013722  0.010375
87    (47590B)    (47590A)            0.016399            0.014726  0.011379
86    (47590A)    (47590B)            0.014726            0.016399  0.011379
71     (23301)     (23300)            0.019076            0.015730  0.010375

    confidence       lift  leverage  conviction
67    0.756098  56.480488  0.010191    4.045114
66    0.775000  56.480488  0.010191    4.383460
87    0.693878  47.120594  0.011137    3.218563
86    0.772727  47.120594  0.011137    4.327845
71    0.543860  34.575588  0.010075    2.157824

In [15]:
def check_id(stock_code):
    product_name = df_prep[df_prep["StockCode"] == stock_code][["Description"]].values[0].tolist()
    return print(product_name)

In [16]:
check_id(20719)

['WOODLAND CHARLOTTE BAG']